.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
/build/
/dist/
*.o
*.exe
*.dll
*.so
*.dylib
/node_modules/
/venv/
*.log
*.sql
*.sqlite
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg